<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- xml 을 java 에서 쓰기 위해 연결되는 interface 가 필요 하다. -->

<!-- 쿼리문을 작성해둔 interface 주소 -->
<mapper namespace="com.pet.walkroute.dao.MateFindDAO">
   <select id="dong" resultType="com.pet.walkroute.dto.MateFindDTO">
	SELECT dongID, guID, dongName, lat, lng from dongdetail
   </select>
   
   <select id="mateList" resultType="com.pet.walkroute.dto.MateFindDTO">
		select mateWalkNum,userID,walkNum,siID,guID,dongID,mateName,mateDetail,matebHit,petWalkDate,state,mateBlindWhether from routemate
		where dongId = (select d.dongID from dongdetail d where dongName = #{param1})
   </select>
   
   <select id="siList" resultType="com.pet.walkroute.dto.MateFindDTO">
		SELECT * from sidetail
   </select>
   
   <select id="guList" resultType="com.pet.walkroute.dto.MateFindDTO">
		SELECT * from gudetail Where siID = #{param1}
   </select>
   
   <select id="dongList" resultType="com.pet.walkroute.dto.MateFindDTO">
		SELECT * from dongdetail where guID = #{param1}
   </select>
   
   <update id="upHit">
		UPDATE routeMate SET matebHit = matebHit+1	
		WHERE mateWalkNum = #{param1}
	</update>
	
	<select id="detail" resultType="com.pet.walkroute.dto.MateListDetailDTO">
		SELECT * FROM routemate rm JOIN routelist rl ON (rm.walkNum = rl.walkNum)
		WHERE rm.mateWalkNum = #{param1}	
	</select>
	
	<select id="coordinate" resultType="com.pet.walkroute.dto.MateListDetailDTO">
		SELECT * FROM coordinate WHERE walkNum = #{param1}	
	</select>
	
	<insert id="mateInsert" parameterType="hashmap">
		INSERT INTO routemate(userID,walkNum,siID,guID,dongID,mateName,mateDetail
					  ,matebHit,petWalkDate,state,mateBlindWhether) 
		VALUES(#{userID},#{walkNum},#{siID},#{guID},#{dongID},#{mateName},#{mateDetail},0,#{petWalkDate},'모집중',false);
	</insert>
	
	<select id="messageSendList" resultType="com.pet.walkroute.dto.MessageDTO">
		SELECT * FROM message WHERE sendID = #{param1}
		GROUP BY mateWalkNum 	
	</select>
	
	<select id="messageReceiveList" resultType="com.pet.walkroute.dto.MessageDTO">
		SELECT * FROM message WHERE receiveID = #{param1}
		GROUP BY mateWalkNum 	
	</select>
	
	<select id="messageHistory" resultType="com.pet.walkroute.dto.MessageDTO">
		SELECT * FROM message WHERE mateWalkNum = #{param1}	
	</select>
	
	<insert id="messageSend" parameterType="hashmap">
		INSERT INTO message(receiveID,sendID,mateWalkNum,messageDetail) 
		VALUES(#{receiveID},#{sendID},#{mateWalkNum},#{messageDetail});
	</insert>
</mapper>