<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- xml 을 java 에서 쓰기 위해 연결되는 interface 가 필요 하다. -->

<!-- 쿼리문을 작성해둔 interface 주소 -->
<mapper namespace="com.pet.walkroute.dao.RouteShareDAO">
   <select id="isAdmin" resultType="String">
   		select role from member where userID = #{param1}  
   </select>
   
   <insert id="write" parameterType="hashmap">
   		INSERT INTO routeBoard(userID,walkNum,siID,guID,dongID,walkRouteName,walkRouteDetail,walkRoutebHit
   							,walkRouteType,walkRouteBlind)
   		VALUES(#{userID},#{walkNum},#{siID},#{guID},#{dongID},#{walkRouteName},#{walkRouteDetail}
   				,0,#{walkRouteType},false);  
   </insert>
   
   <update id="update" parameterType="hashmap">
   		UPDATE routeboard SET walkRouteName=#{walkRouteName}, walkRouteDetail=#{walkRouteDetail}
   		WHERE walkRouteNum = #{walkRouteNum}
   </update>
   
   <select id="siID" resultType="String">
   		select siID from siDetail where siName = #{param1}  
   </select>
   
   <select id="guID" resultType="String">
   		select guID from guDetail where guName = #{param1}  
   </select>
   
   <select id="dongID" resultType="String">
   		select dongID from dongDetail where dongName = #{param1}  
   </select>
   
   <select id="list" resultType="com.pet.walkroute.dto.RouteShareDTO" parameterType="hashmap">
		SELECT walkRouteNum, userID, walkNum, siID, guID, dongID,
				walkRouteName, walkRouteDetail, walkRoutebHit, 
				walkRouteWriteDate,walkRouteType, walkRouteBlind, recommendation
		FROM routeboard 
		WHERE walkRouteBlind = false
		AND  walkRouteType = #{param1}
		ORDER BY walkRouteNum DESC 
		LIMIT #{param2} OFFSET #{param3}
	</select>
	
	<select id="totalCount" resultType="int">
		SELECT COUNT(walkRouteNum) FROM routeboard
	</select>
	
	<select id="detail" resultType="com.pet.walkroute.dto.RouteShareDTO">
		SELECT * FROM routeboard where walkRouteNum = #{walkRouteNum}
	</select>
	
	<select id="isRecommend" resultType="String">
		SELECT userID FROM recommend where walkRouteNum = #{param1}
	</select>
	
	<select id="isBookmark" resultType="String">
		SELECT userID FROM bookmark where walkNum = #{param1} AND userID = #{param2}
	</select>
	
	<insert id="recommendDo" parameterType="map">
		INSERT INTO recommend(userID, walkRouteNum) VALUES(#{userID},#{walkRouteNum}) 
	</insert>
	
	<insert id="bookmarkDo" parameterType="map">
		INSERT INTO bookmark(userID, walkNum) VALUES(#{userID},#{walkNum})
	</insert>
	
	<delete id="recommendCancel" parameterType="map">
		DELETE FROM recommend WHERE userID = #{userID} AND walkRouteNum = #{walkRouteNum}
	</delete>
	
	<delete id="bookmarkCancel" parameterType="map"> 
		DELETE FROM bookmark WHERE userID = #{userID} AND walkNum = #{walkNum}
	</delete>
	
	<update id="delete">
		UPDATE routeboard SET walkRouteBlind = true
		WHERE walkRouteNum = #{param1}
	</update>
	
	<select id="addressFiterCount" resultType="int" parameterType="hashmap">
		SELECT COUNT(walkRouteNum) FROM routeboard
		WHERE siID = #{siID}
		AND guID = #{guID}
		AND dongID = #{dongID}
	</select>
	 
	<select id="addressFilterlist" resultType="com.pet.walkroute.dto.RouteShareDTO" parameterType="hashmap">
		SELECT walkRouteNum, userID, walkNum, siID, guID, dongID,
				walkRouteName, walkRouteDetail, walkRoutebHit, 
				walkRouteWriteDate,walkRouteType, walkRouteBlind, recommendation
		FROM routeboard 
		WHERE walkRouteBlind = false
		AND walkRouteType = #{walkRouteType}
		AND siID = #{siID}
		AND guID = #{guID}
		AND dongID = #{dongID}
		ORDER BY walkRouteNum DESC 
		LIMIT #{cnt} OFFSET #{offset}
	</select>
	
	<select id="subjectFiterCount" resultType="int" parameterType="hashmap">
		SELECT COUNT(walkRouteNum) FROM routeboard
		WHERE walkRouteName = #{walkRouteName}
	</select>
	
	<select id="idFiterCount" resultType="int" parameterType="hashmap">
		SELECT COUNT(walkRouteNum) FROM routeboard
		WHERE userID = #{userID}
	</select>
	
	<select id="subjectFilterlist" resultType="com.pet.walkroute.dto.RouteShareDTO" parameterType="hashmap">
		SELECT walkRouteNum, userID, walkNum, siID, guID, dongID,
				walkRouteName, walkRouteDetail, walkRoutebHit, 
				walkRouteWriteDate,walkRouteType, walkRouteBlind, recommendation
		FROM routeboard 
		WHERE walkRouteBlind = false
		AND walkRouteType = #{walkRouteType}
		AND walkRouteName LIKE CONCAT('%', #{walkRouteName}, '%')
		ORDER BY walkRouteNum DESC 
		LIMIT #{cnt} OFFSET #{offset}
	</select>
	
	<select id="idFilterlist" resultType="com.pet.walkroute.dto.RouteShareDTO" parameterType="hashmap">
		SELECT walkRouteNum, userID, walkNum, siID, guID, dongID,
				walkRouteName, walkRouteDetail, walkRoutebHit, 
				walkRouteWriteDate,walkRouteType, walkRouteBlind, recommendation
		FROM routeboard 
		WHERE walkRouteBlind = false
		AND walkRouteType = #{walkRouteType}
		AND userID = #{userID}
		ORDER BY walkRouteNum DESC 
		LIMIT #{cnt} OFFSET #{offset}
	</select>
</mapper>