<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- xml 을 java 에서 쓰기 위해 연결되는 interface 가 필요 하다. -->

<!-- 쿼리문을 작성해둔 interface 주소 -->
<mapper namespace="com.pet.walkroute.dao.WalkRouteDAO">
   <select id="dong" resultType="com.pet.walkroute.dto.DongInfoDTO">
	SELECT dongID, guID, dongName, lat, lng from dongdetail
   </select>
    
   <insert
   		useGeneratedKeys="true"
		keyColumn="walkNum"
		keyProperty="walkNum" 
		id="routeListStore" parameterType="com.pet.walkroute.dto.RouteListDTO">
	INSERT INTO routeList(userID, walkDetail, walkName) values (#{userID},#{walkDetail},#{walkName})
   </insert>
   
   <insert id="coordinateStore" parameterType="HashMap">
	INSERT INTO coordinate(walkNum,mapOrder,lat,lng) values(#{walkNum},#{mapOrder},#{lat},#{lng})
   </insert>
   
   <select id="routeList" resultType="com.pet.walkroute.dto.RouteListDTO">
	select * from routelist where userID = #{param1}
   </select>
   
   <select id="coordinateBring" resultType="com.pet.walkroute.dto.RouteListDTO">
	select * from coordinate where walkNum = #{param1}
   </select>
</mapper>