/* paging.css */

.page-item.active .page-link {
    background-color: #87d1bf;
    color: #ffffff;
    border-color: #ffffff;
}

.page-item.active .page-link:hover {
    background-color: #87d1bf;
    color: #ffffff;
    border-color: #fafafa;
}

.page-link:focus, .page-link:hover {
  color: #000;
  background-color: #fafafa; 
  border-color: #ccc;
}
