<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- xml 을 java 에서 쓰기 위해 연결되expected at least 1 bean which qualifies as autowire candidate. Dependency annotations: {@org.springframework.beans.factory.annotation.Autowired(required=true)}는 interface 가 필요 하다. -->

<!-- 쿼리문을 작성해둔 interface 주소 -->
<mapper namespace="com.pet.board.dao.boardDAO">
   
   <select id="B_02list" resultType="com.pet.board.dto.boardDTO">
   	SELECT * FROM board ORDER BY boardNum DESC
   </select>
   
<!--  <insert id="boardWrite">
   	INSERT INTO board(userID,boardName,boardDetail,categoryCode,noticeWhether,
   	boardBlindWhether,boardbHit)
   	VALUES(#{param1},#{param2},#{param3},#{param4},0,0,0)
   </insert>
 -->
 
 	<insert 
		useGeneratedKeys="true"
		keyColumn="boardNum"
		keyProperty="boardNum"
		
		id="boardWrite" parameterType="com.pet.board.dto.boardDTO">
		INSERT INTO board(boardDetail,categoryCode,boardName,noticeWhether,
   		boardBlindWhether,boardbHit)
   		VALUES(#{boardDetail},#{categoryCode},#{boardName},0,0,0)
	</insert>
	
	<insert id="fileWrite">
		INSERT INTO photo(boardNum,oriPhotoname,serPhotoname)
			VALUES(#{boardNum},#{oriPhotoname},#{serPhotoname})
	</insert>
   
   <select id="boardDetail" parameterType="String" resultType="com.pet.board.dto.boardDTO">
    SELECT userID, boardName, boardDetail, boardWriteDate, boardbHit, categoryCode
    FROM board WHERE boardNum = #{boardNum}
</select>
   
   <update id="boardbHit" parameterType="String">
   	UPDATE board SET boardbHit = boardbHit+1 WHERE boardNum = #{boardNum}
	</update>
</mapper>