<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- xml 을 java 에서 쓰기 위해 연결되는 interface 가 필요 하다. -->

<!-- 쿼리문을 작성해둔 interface 주소 -->
<mapper namespace="com.pet.member.dao.MemberDAO">

   <select id="overlayid" resultType="int">
		SELECT COUNT(userID) FROM member
			WHERE userID = #{param1}
	</select>
	
	<select id="overlaynickname" resultType="int">
		SELECT COUNT(userNickname) FROM member
			WHERE userNickname = #{param1}
	</select>
	
	<insert id="join" parameterType="hashmap">
		INSERT INTO member(
			userID,siID,guID,dongID,userPW,userNickname,userName,userBirthdate,userAge,userGender,userContact,userEmail,Role,userBlindWhether
		)VALUES(
			#{userID},#{siID},#{guID},#{dongID},#{userPW},#{userNickname},#{userName},#{userBirthdate},#{userAge},#{userGender},#{userContact},#{userEmail},'user',false
		)					
	</insert>
	
	<select id="login" resultType="int">
		SELECT COUNT(userID) FROM member WHERE
		userID = #{param1} AND userPW = #{param2} AND userBlindWhether = false
	</select>
	
	<update id="memberdelete">
		UPDATE member SET userBlindWhether = 1  WHERE userID = #{param1}
	</update>
   
</mapper>