<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- xml 을 java 에서 쓰기 위해 연결되는 interface 가 필요 하다. -->

<!-- 쿼리문을 작성해둔 interface 주소 -->
<mapper namespace="com.pet.admin.dao.InquiryDAO">
   		


   		
  		<!-- 아작스는 * 쓰면 안됨 -->
		<select id="inquirylist" parameterType="HashMap" resultType="com.pet.admin.dto.InquiryDTO">
		SELECT boardNum, categoryCode, userID, boardName, boardDetail, boardbHit, boardWriteDate, noticeWhether, boardBlindWhether, inqProcess 
		FROM board 
		WHERE
			<choose>
				<when test="param4 == 'default' ">
					categoryCode IN ('B_06','B_07','B_08','B_09','B_10','B_11')
				</when>	
				<otherwise>
                categoryCode = #{param4} AND inqProcess = #{param3}
                </otherwise>
			</choose>
		ORDER BY boardNum DESC
		LIMIT #{param2} OFFSET #{param3} 
		</select>
		
		<select id="listinquiry" parameterType="HashMap" resultType="com.pet.admin.dto.InquiryDTO">
		SELECT boardNum, categoryCode, userID, boardName, boardDetail, boardbHit, boardWriteDate, noticeWhether,boardBlindWhether,inqProcess 
		FROM board WHERE categoryCode = #{param2} ORDER BY boardNum DESC
		LIMIT #{param3} OFFSET #{param4}
		</select>
		
		<select id="listinqprocess" parameterType="HashMap" resultType="com.pet.admin.dto.InquiryDTO">
		SELECT boardNum, categoryCode, userID, boardName, boardDetail, boardbHit, boardWriteDate, noticeWhether,boardBlindWhether,inqProcess 
		FROM board 
		WHERE
		<choose>
				<when test="param5 == 'default' ">
					categoryCode IN ('B_06','B_07','B_08','B_09','B_10','B_11')
				</when>	
				</choose>
		AND inqProcess = #{param2} ORDER BY boardNum DESC
		LIMIT #{param3} OFFSET #{param4}
		</select>
		
		<select id="listinqAll" parameterType="HashMap" resultType="com.pet.admin.dto.InquiryDTO">
		SELECT boardNum, categoryCode, userID, boardName, boardDetail, boardbHit, boardWriteDate, noticeWhether,boardBlindWhether,inqProcess 
		FROM board WHERE categoryCode = #{param2} AND inqProcess = #{param3, jdbcType=BOOLEAN} ORDER BY boardNum DESC
		LIMIT #{param4} OFFSET #{param5}
		</select>
		
		
		
		
   		<!-- <select id="inqlist" resultType="com.pet.admin.dto.InquiryDTO">
			SELECT * FROM board ORDER BY boardNum DESC
		</select> -->
		
		<!-- resultType="java.lang.Integer" -->
    	
    	<select id="totalCount" parameterType="HashMap" resultType="java.lang.Integer">
		SELECT COUNT(boardNum) FROM board 
		WHERE
			<choose>
				<when test="param2 == 'default' ">
					categoryCode IN ('B_06','B_07','B_08','B_09','B_10','B_11')
				</when>	
				<otherwise>
                categoryCode = #{param4} AND inqProcess = #{param3}
                </otherwise>
			</choose>
		</select>	
		
		<select id="totalCountinquiry" parameterType="HashMap" resultType="java.lang.Integer">
		SELECT COUNT(boardNum) FROM board WHERE categoryCode = #{param2}
		</select>	
		
		<select id="totalCountprocess" parameterType="HashMap" resultType="java.lang.Integer">
		SELECT COUNT(boardNum) FROM board 
		WHERE
				<choose>
				<when test="param3 == 'default' ">
					categoryCode IN ('B_06','B_07','B_08','B_09','B_10','B_11')
				</when>	
				</choose>
		AND inqProcess = #{param2}
		</select>	
		
		<select id="totalCountAll" parameterType="HashMap" resultType="java.lang.Integer">
		SELECT COUNT(boardNum) FROM board WHERE categoryCode = #{param2} AND inqProcess = #{param3}
		</select>	 
		
		
    	
		<select id="inqdetail"  resultType="com.pet.admin.dto.InquiryDTO">
		SELECT b.userID, b.boardName, b.boardDetail, b.boardWriteDate, b.boardbHit, b.categoryCode, 
      		 p.photoNum, p.serPhotoname, p.photoIdenNum, b.boardNum, p.photoBlindWhether
		FROM board b LEFT OUTER JOIN photo p ON b.boardNum = p.photoIdenNum 
		WHERE b.boardNum = #{param1} AND b.boardBlindWhether = 0 AND (p.photoBlindWhether = 0 OR p.photoBlindWhether IS NULL);
		</select>
		
		<update id="upHit" parameterType="int">
   			UPDATE board SET boardbHit = boardbHit+1 WHERE boardNum = #{param1}
   		</update>
   		
   		<select id="inqreplist" resultType="com.pet.admin.dto.InquiryDTO">
   			SELECT * FROM reply WHERE boardNum = #{param1} AND replyNum = #{param2} AND commentDetail = #{param3} ORDER BY boardNum DESC
   		</select>
   		
   		<select id="inqreplist2" resultType="com.pet.admin.dto.InquiryDTO">
   			SELECT * FROM reply WHERE boardNum = #{boardNum} ORDER BY boardNum DESC
   		</select>
   		
   		<insert id="inqrepwrite">
   			INSERT INTO reply(userID,boardNum,commentDetail,commentBlindWhether)
   			VALUES (#{param3},#{param1},#{param2},0)
		</insert>
		
		<delete id="inqrepdel">
			DELETE FROM reply WHERE replyNum = #{replyNum}
		</delete>
		
		<update id="inqrepupdate" parameterType="Hashmap">
   			UPDATE reply SET commentDetail = #{content} WHERE replyNum = #{replyNum}
   		</update>
   		
   		<update id="inqprocessupdate" parameterType="Hashmap">
   			UPDATE board SET inqProcess = #{param1} WHERE boardNum = #{param2}
   		</update>
	
		<insert 
		useGeneratedKeys="true"
		keyColumn="boardNum"
		keyProperty="boardNum"
		
		id="boardWrite" parameterType="com.pet.admin.dto.InquiryDTO">
		INSERT INTO board(userID,categoryCode,boardName,boardDetail,noticeWhether,
   		boardBlindWhether,boardbHit,inqProcess)
   		VALUES (#{userID},#{categoryCode},#{boardName},#{boardDetail},false,false,false,false)
		</insert>
	
		<insert id="fileWrite" >
		INSERT INTO photo(categoryCode,oriPhotoname,serPhotoname,photoBlindWhether,photoIdenNum)
			VALUES(#{param1},#{param2},#{param3},false,#{param4})
		</insert>
</mapper>