<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- xml 을 java 에서 쓰기 위해 연결되는 interface 가 필요 하다. -->

<!-- 쿼리문을 작성해둔 interface 주소 -->
<mapper namespace="com.pet.admin.dao.ReportDAO">
   
   <!-- 아작스는 * 쓰면 안됨 -->
		<select id="reportlist" parameterType="HashMap" resultType="com.pet.admin.dto.ReportDTO">
		SELECT reportNum, userID, categoryCode, reportName, reportDetail, reportDate, reportBlind reportIdenNum,process,reportNickName 
		FROM report ORDER BY reportNum DESC 
		LIMIT #{param2} OFFSET ${param3} 
		</select>
		
		<select id="reportprocess" parameterType="HashMap" resultType="com.pet.admin.dto.ReportDTO">
		SELECT reportNum, userID, categoryCode, reportName, reportDetail, reportDate, reportBlind reportIdenNum,process,reportNickName 
		FROM report WHERE process = #{param2} ORDER BY reportNum DESC 
		LIMIT #{param3} OFFSET ${param4}
		</select>
		
		<select id="reportlistAll" parameterType="HashMap" resultType="com.pet.admin.dto.ReportDTO">
		SELECT reportNum, userID, categoryCode, reportName, reportDetail, reportDate, reportBlind reportIdenNum,process,reportNickName 
		FROM report WHERE categoryCode = #{param2} AND process = #{param3} ORDER BY reportNum DESC 
		LIMIT #{param4} OFFSET ${param5}
		</select>
		
		<select id="reportcategorycode" parameterType="HashMap" resultType="com.pet.admin.dto.ReportDTO">
		SELECT reportNum, userID, categoryCode, reportName, reportDetail, reportDate, reportBlind reportIdenNum,process,reportNickName 
		FROM report WHERE categoryCode = #{param2} ORDER BY reportNum DESC 
		LIMIT #{param3} OFFSET ${param4}
		</select>
		
		<select id="reportsearch" parameterType="HashMap" resultType="com.pet.admin.dto.ReportDTO">
		SELECT reportNum, userID, categoryCode, reportName, reportDetail, reportDate, reportBlind reportIdenNum,process,reportNickName 
		FROM report WHERE categoryCode = #{param2} ORDER BY reportNum DESC 
		LIMIT #{param3} OFFSET ${param4}
		</select>
		
   
   		
   		<select id="reptotalCount" parameterType="HashMap" resultType="java.lang.Integer">
		SELECT COUNT(reportNum) FROM report 
		</select>	
		
		<select id="reptotalCountcategory" parameterType="HashMap" resultType="java.lang.Integer">
		SELECT COUNT(reportNum) FROM report WHERE categoryCode = #{param2}
		</select>	
		
		<select id="reptotalCountprocess" parameterType="HashMap" resultType="java.lang.Integer">
		SELECT COUNT(reportNum) FROM report WHERE process = #{param2}
		</select>	
		
		<select id="reptotalSearch" parameterType="HashMap" resultType="java.lang.Integer">
		SELECT COUNT(reportNum) FROM report WHERE  = #{param2}
		</select>
		
		<select id="reptotalCountAll" parameterType="HashMap" resultType="java.lang.Integer">
		SELECT COUNT(reportNum) FROM report WHERE categoryCode = #{param2} AND process = #{param3}
		</select>	 
</mapper>